.city-page__wrapper {
   width: 100%;
   display: grid;
   grid-template-columns: 33% 43% 22%;
   grid-template-rows: repeat(3 1fr);
   column-gap: 20px;
}
.city-page__first-block {
   grid-column: 1/2;
   grid-row: 1/4;
}
.first-block {
}
.first-block__item {
}

.city-page__second-block {
   grid-column: 2/3;
   grid-row: 1/4;
}
.second-block {
}

.city-page__third-block {
   grid-column: 3/4;
   grid-row: 1/4;
}
.third-block {
}
.third-block__wrapper {
   padding-right: 15px;
}
.third-block__item {
}

// @media (max-width: 1510px) {
//    .content-city-page {
//       flex-wrap: wrap;
//       justify-content: center;
//    }
//    .first-block-city {
//       flex: 0 1 40%;
//    }
//    .card-with-foto {
//       justify-content: flex-start;
//    }
//    .card-with-foto__content {
//       width: 100%;
//       height: 100%;
//    }
//    .second-block-city {
//       height: 100%;
//    }
//    .card-with-big-foto {
//       width: 100%;
//    }
//    .content-city__third-block {
//       flex: 0 1 100%;
//       padding: 3px 5px;
//    }
//    .third-block__body {
//       margin: 0 auto;
//       display: flex;
//       flex-wrap: wrap;
//       gap: 25px;
//    }
//    .body-third-block__card {
//       width: 45%;
//    }
// }

// @media (max-width: 1410px) {
//    .content-city-page {
//       justify-content: center;
//    }
//    .first-block-city {
//       flex: 0 1 50%;
//    }
//    .second-block-city {
//       flex: 0 1 45%;
//    }
// }
