@import "_common.scss";

.page {
}
.city-page {
   margin-top: 5px;
}
.city-page__content {
}
.content-city-page {
   display: flex;
   gap: 20px;
}
.content-city__first-block {
   flex: 0 1 35%;
}
.first-block-city {
}
.first-block-city__items {
}
.item-first-block-city {
}
.card-with-foto {
}
.card-with-foto__image {
}
.card-with-foto__content {
}
.content-card-with-foto {
}
.content-card-with-foto__title {
}
.card-title {
}
.content-card-with-foto__text {
}
.card-text {
}
.content-card-with-foto__date {
}
.card-date {
}
.content-city__second-block {
   flex: 0 1 40%;
}
.second-block-city {
}
.card-with-big-foto {
}
.card-with-big-foto__image {
}
.card-with-big-foto__content {
}
.content-card-with-big-foto {
}
.content-card-with-big-foto__title {
}
.content-card-with-big-foto__text {
}
.card-with-big-foto__date {
}
.content-city__third-block {
   flex: 0 1 25%;
}
.third-block-city {
}
.third-block__body {
}
.body-third-block__card {
}
.card-news {
}
.card-news__data {
}
.card-data {
}
.card-news__text {
}
.card-text-noto-serife {
}
