.page {
}
.city-page {
   overflow: hidden;
   padding-bottom: 30px;
   &__content {
      position: relative;
   }
}

.content-city-page {
   display: flex;
   justify-content: space-between;
   gap: 20px;
}

.first-block-city {
   flex: 0 1 33%;
   &__items {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
}

.second-block-city {
   flex: 0 1 45%;
}

.content-city__third-block {
   flex: 0 1 25%;
}

@media (max-width: 1510px) {
   .content-city-page {
      flex-wrap: wrap;
      justify-content: center;
   }
   .first-block-city {
      flex: 0 1 40%;
   }
   .card-with-foto {
      justify-content: flex-start;
   }
   .card-with-foto__content {
      width: 100%;
      height: 100%;
   }
   .second-block-city {
      height: 100%;
   }
   .card-with-big-foto {
      width: 100%;
   }
   .content-city__third-block {
      flex: 0 1 100%;
      padding: 3px 5px;
   }
   .third-block__body {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
   }
   .body-third-block__card {
      width: 45%;
   }
}

// @media (max-width: 1410px) {
//    .content-city-page {
//       justify-content: center;
//    }
//    .first-block-city {
//       flex: 0 1 50%;
//    }
//    .second-block-city {
//       flex: 0 1 45%;
//    }
// }
