// підключення шрифтів для використфння
// @import url("https://fonts.googleapis.com/css?family=Noto+Serif:regular,700,&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Train+One:regular&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Noto+Sans:regular&display=swap");

$titleFontFamily: "Noto Serif";

// переводимо:       font-size  - пікселі в реми     (формула переводу rem = (шрифт)px / базовий розмір шрифту(px))
//                                                     (16 у браузерах у нас 14)
// line-height: =  (line-height з шаблону ділим на розмір шрифту )
// leter-spacing: = (привязуєм до шрифту - використовуємо  em(7.5, 12);

//============================================= card with foto =============================
.card-with-foto {
   display: flex;
   align-items: flex-start;
   border-bottom: 1px solid rgba(224, 224, 224, 1);
   padding-top: 3px;
   column-gap: 20px;
   padding-bottom: 18px;
   margin-bottom: 20px;
   &:last-child {
      margin-bottom: 2px;
   }
   &__image {
      flex: 0 1 45%;
      img {
         width: 100%;
      }
   }
   &__content {
      flex: 0 1 55%;
   }
}
.content-card-with-foto {
   display: flex;
   flex-direction: column;
   &__title {
      margin-bottom: 8px;
   }
   &__text {
      padding: 0px 2px 18px 2px;
      align-self: auto;
   }
}

//================= card-with-big-foto =========================
.card-with-big-foto {
   display: flex;
   flex-direction: column;
   // justify-content: flex-start;
}
.card-with-big-foto__image {
   flex: 0 1 55%;
}
.card-with-big-foto__image img {
   width: 100%;
}
.card-with-big-foto__content {
   flex: 0 1 30%;
   width: 100%;
   text-align: left;
}
.content-card-with-big-foto {
}
.content-card-with-big-foto__title {
   margin-top: 16px;
   flex: 0 1 auto;
}

.content-card-with-big-foto__text {
   margin-top: 7px;
}

.card-with-big-foto__date {
   margin-top: 7px;
}

// ============= commman block=============================================
.card-title {
   font-family: $fontCardTitle;
   font-size: 1.2rem; /* 18/14 */
   line-height: 1.38; /* 25/18 */
}
.card-text {
   line-height: 1.35;
   &__noto-serife {
      font-family: "Noto Serif";
      font-size: 1.3rem; /* 18/14 */
      line-height: 1.38;
   }
}
.card-date {
   color: rgba(115, 115, 115, 1);
   font-size: 0.85rem; /* 12/14 */
   line-height: 1.33;
}
// ========================== item-news-card ===========================================================
.card-news {
   padding-bottom: 16px;
   &__date {
      padding-bottom: 4px;
   }
   &__text {
      text-align: left;
      border-bottom: 1px solid rgba(224, 224, 224, 1);
      padding-bottom: 1.28rem; /* 128.571429%; /* 18/14 */
   }
}

// ================================= button ================================
.button {
   padding: 9px 40px;
   background-color: $primaryColor_default;
   min-width: 236px;
   cursor: pointer;
   &:hover {
      background-color: $primaryColor_acsent-2;
   }
   a {
      font-size: 16px;
      line-height: 1.5; /* 24/16 */
      text-align: center;
      color: $whiteColor;
      transition: all 0.3s ease 0s;
      &:hover {
         text-decoration: underline;
      }
   }
}
