// підключення шрифтів для використфння
// @import url("https://fonts.googleapis.com/css?family=Noto+Serif:regular,700,&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Train+One:regular&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Noto+Sans:regular&display=swap");

$titleFontFamily: "Noto Serif";

// переводимо:       font-size  - пікселі в реми     (формула переводу rem = (шрифт)px / базовий розмір шрифту(px))
//                                                     (16 у браузерах у нас 14)
// line-height: =  (line-height з шаблону ділим на розмір шрифту )
// leter-spacing: = (привязуєм до шрифту - використовуємо  em(7.5, 12);

//============================================= card with foto =============================
.card-with-foto {
   display: flex;
   border-bottom: 1px solid rgba(224, 224, 224, 1);
   padding-top: 3px;
   padding-bottom: 18px;
   column-gap: 20px;
   justify-content: left;
   margin-bottom: 20px;
}
.card-with-foto:last-child {
   margin-bottom: 2px;
}

.card-with-foto__image {
}
.card-with-photo__image img {
   min-width: 100%;
}
.card-with-foto__content {
   text-align: left;
   display: flex;
   flex-direction: column;
}
.content-card-with-foto__title {
}

.content-card-with-foto__text {
   flex: 1 1 auto;
   padding: 5px 2px 8px 2px;
}

.content-card-with-foto__date {
}

//================= card-with-big-foto =========================
.card-with-big-foto {
}
.card-with-big-foto__image {
}
.card-with-big-foto__image img {
   width: 100%;
}
.card-with-big-foto__content {
   padding: 16px 0px;
}
.content-card-with-big-foto {
   padding: 16px 0px;
   display: flex;
   flex-direction: column;
   align-items: left;
}
.content-card-with-big-foto__title {
}

.content-card-with-big-foto__text {
   margin-top: 7px;
   flex: 1 1 auto;
}

.card-with-big-foto__date {
   margin-top: 7px;
}

// ============= commman block=============================================
.card-title {
   font-family: $fontCardTitle;
   font-size: 1.28rem; /* 18/14 */
   line-height: 1.38; /* 25/18 */
}
.card-text {
   line-height: 1.35;
}
.card-date {
   color: rgba(115, 115, 115, 1);
   font-size: 0.857rem;
   line-height: 1.33;
}
// ========================== item-news-card ===========================================================
.card-news {
   padding-bottom: 16px;
}
.card-news:last-child {
   .card-news__text {
      border-bottom: none;
      padding-bottom: 0px;
   }
}
.card-news__date {
   padding-bottom: 4px;
}

.card-news__text {
   text-align: left;
   border-bottom: 1px solid rgba(224, 224, 224, 1);
   padding-bottom: 16px;
}

.card-text-noto-serife {
   font-family: "Noto Serif";
   font-size: 1.285rem;
   line-height: 1.38;
}

// ================================= button ================================
.button {
   padding: 9px 40px;
   background-color: $primaryColor_default;
   min-width: 236px;
   cursor: pointer;
   &:hover {
      background-color: $primaryColor_acsent-2;
   }
   a {
      font-size: 16px;
      line-height: 1.5; /* 24/16 */
      text-align: center;
      color: $whiteColor;
      transition: all 0.3s ease 0s;
      &:hover {
         text-decoration: underline;
      }
   }
}
