//================= ===========

// переводимо:       font-size  - пікселі в реми     (формула переводу rem = (шрифт)px / базовий розмір шрифту(px)) (16 у браузерах у нас 14)
// line-height: =  (line-height з шаблону ділим на розмір шрифту )
// leter-spacing: = (привязуєм до шрифту - використовуємо  em(7.5, 12);

//===================================================================================

.header__wrapper {
}
.wrapper-header {
   padding: 49px 0px 32px;
}
.wrapper-header__head {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}
.head-header {
   margin-bottom: 30px;
}
.head-header__info {
   display: flex;
   height: 24px;
   justify-content: center;
   flex: 0 1 auto;
   align-items: flex-end;
   gap: 30px;
   &:img {
      width: 100%;
   }
   a {
      cursor: pointer;
   }
}

.info-header {
}
.info-header__burger {
}
.info-header__search {
   padding-right: 30px;
}
.info-header__weather {
}
.head-header__title {
   font-family: $fontMainTitle;
   font-size: 60px;
   line-height: 1.45; /* 87/60 */
   padding: 0 15px;
   a {
      cursor: pointer;
   }
}
.head-header__subscribe-button {
}

.wrapper-header__menu {
   margin: 0 55px;
}
.menu {
}
.menu__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu__item {
   a {
      cursor: pointer;
      font-size: 16px;
      line-height: 1.37; /* 33/24 */
      color: #000000;
      &:hover {
         text-decoration: underline;
      }
   }
}

// $pc: em($containerWidth); //ПК, ноутбук, деякі планшети в горизонтальному положенні
// $tablet: em(991.98); //Планшети, деякі телефони в горизонтальному положенні
// $mobile: em(767.98); //телефони L
// $mobileSmall: em(479.98); //телефони S
@media (max-width: 1197.98px) {
   .wrapper-header {
      padding: 15px 0px 20px;
   }
}

@media (max-width: 991.98px) {
   .wrapper-header__head {
      display: grid;
      grid-template-columns: 1 1fr;
      grid-auto-columns: auto;
      justify-content: stretch;
      align-items: center;
      gap: 10px;
   }
   .head-header__title {
      justify-self: center;
   }
   .head-header__info {
      grid-row-start: 2;
      justify-self: end;
   }
   .head-header__subscribe-button {
      justify-self: end;
   }
   .wrapper-header__menu {
      margin: 0 35px;
   }
   .head-header {
      margin-bottom: 20px;
   }
}

@media (max-width: 767.98px) {
   .wrapper-header__head {
      gap: 25px;
   }
   .head-header__title {
      font-size: 45px;
   }
   .head-header__info {
      justify-content: center;
      align-items: center;
      justify-self: normal;
   }
   .head-header__subscribe-button {
      justify-self: stretch;
      text-align: center;
   }
   .info-header__search {
      padding-right: 0px;
   }
   .wrapper-header__menu {
      display: none;
   }
}
@media (max-width: 543.98px) {
   .head-header__info {
      justify-content: space-around;
   }
   .head-header__title {
      font-size: 35px;
   }
}
